@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&family=Edu+NSW+ACT+Foundation:wght@400;500;600&family=Fira+Sans:wght@100&family=Itim&family=Labrada:wght@300;400;500&family=Lato:wght@100;300&family=Libre+Baskerville&family=Montserrat:wght@300;400;500&family=Noto+Serif+Thai&family=Oswald:wght@200&family=Poppins:wght@100;400&family=Roboto:wght@400;700&family=Space+Mono&family=Tiro+Devanagari+Hindi&family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* utility classes */

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between;
    align-items: center; */
}

.container {
    max-width: 1300px;
    margin-inline: auto;
    padding-inline: 20px;
}

.gap-5 {
    display: flex;
    gap: 5px;
}

.gap-10 {
    display: flex;
    gap: 10px;
}

.gap-15 {
    display: flex;
    gap: 15px;
}

/* utility classes end*/

/* header */

a {
    text-decoration: none;
    color: black;
}

.nav-links li {
    list-style-type: none;
    font-size: 16px;
    font-weight: 600;
}

.nav-links li a {
    color: rgb(69, 69, 69);
    transition: all .2s ease-in-out;
    padding-bottom: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}

.nav-links li a:hover,
.nav-links li a.active {
    color: rgb(43, 116, 195);
    border-bottom: 2px solid rgb(46, 121, 202);
}

header {
    padding-block: 20px;
    background-color: rgb(222, 234, 233);
    box-shadow: 0 0px 20px rgb(222, 234, 233);
    position: sticky;
    top: 0px;
    z-index: 10;
}

.nav-links {
    gap: 40px;
}
#menu {
    font-size: 120%;
    display: none;
}

/* hero section */
.hero-section {
    height: 90vh;
    background-image: url("img/hero4.png");
    background-position: top 25% right 0;
    background-size: cover;

}

.hero-content {
    height: 70vh;
    justify-content: center;
}

.hero-content h1 {
    font-size: 300%;
    color: #088178;
}

.hero-content h2 {
    font-size: 260%;
    word-spacing: 5px;
    color: rgb(0, 0, 0);
}

.hero-content h4 {
    font-size: 130%;
    word-spacing: 5px;
    padding-bottom: 15px;
}

.hero-content p {
    font-size: 130%;
    padding-block: 20px;
    color: rgb(153, 153, 153);
}

.button {
    background-image: url("img/button.png");
    background-repeat: no-repeat;
    height: 50px;
    font-weight: 600;
}

.button a {
    position: relative;
    top: 15px;
    left: 70px;
    color: #088178;

}

/* features section */

.features-section {
    padding-block: 80px;
}

.features-section .container {
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 20px;
}

.f-cols {
    text-align: center;
    border: 2px solid #c4eeeba9;
    border-radius: 3px;
    padding-inline: 15px;
    padding-block: 25px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.067);
    gap: 20px;
    transition: all .2s ease-in-out;
    flex-wrap: wrap;
}

.f-cols p {
    padding: 10px;
    line-height: 1;
    border-radius: 4px;
    background-color: #fdddef;
    color: #088178;
    font-weight: 600;
}

.f-cols:hover {
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.01);
    transform: scale(0.98);
}