@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&family=Edu+NSW+ACT+Foundation:wght@400;500;600&family=Fira+Sans:wght@100&family=Itim&family=Labrada:wght@300;400;500&family=Lato:wght@100;300&family=Libre+Baskerville&family=Montserrat:wght@300;400;500&family=Noto+Serif+Thai&family=Oswald:wght@200&family=Poppins:wght@100;400&family=Roboto:wght@400;700&family=Space+Mono&family=Tiro+Devanagari+Hindi&family=Ubuntu:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s ease;
}

body {
    font-family: sans-serif;
    overflow-x: hidden;
}

/* utility classes */

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1300px;
    margin-inline: auto;
    padding-inline: 40px;
}

.gap-5 {
    display: flex;
    gap: 5px;
}

.gap-10 {
    display: flex;
    gap: 10px;
}

.gap-15 {
    display: flex;
    gap: 15px;
}

.pointer:hover {
    cursor: pointer;
}

/* utility classes end*/

body {
    width: 100%;
}

/* header */
a {
    text-decoration: none;
    color: black;
}

.nav-links li {
    list-style-type: none;
    font-size: 16px;
    font-weight: 600;
}

.nav-links li a {
    color: rgb(69, 69, 69);
    transition: all 0.2s ease-in-out;
    padding-bottom: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    padding-inline: 4px;
}

.nav-links li a:hover,
.nav-links li a.active {
    color: #0c5954;
    border-bottom: 2px solid #0c5954;
}

header {
    padding-block: 20px;
    background-color: rgb(227, 230, 243);
    box-shadow: 0 0px 20px rgb(184, 184, 184);
    position: sticky;
    top: 0px;
    z-index: 10;
}

.nav-links {
    gap: 40px;
}

.cart {
    display: none;
    padding-inline: 10px;
}

.cross {
    display: none;
}

#menu {
    font-size: 120%;
    display: none;
}

/* hero section */
.hero-section {
    height: 90vh;
    background-image: url("./images/hero4.png");
    background-position: top 25% right 0;
    background-size: cover;
}

.hero-content {
    height: 90vh;
    justify-content: center;
}

.hero-content h1 {
    font-size: 300%;
    color: #088178;
    margin-bottom: 10px;
}

.hero-content h2 {
    font-size: 260%;
    word-spacing: 5px;
    color: rgb(0, 0, 0);
    margin-top: 10px;
}

.hero-content h4 {
    font-size: 130%;
    word-spacing: 5px;
    padding-bottom: 15px;
}

.hero-content p {
    font-size: 130%;
    padding-block: 20px;
    color: rgb(153, 153, 153);
}

.button {
    background-image: url("./images/button.png");
    background-repeat: no-repeat;
    height: 50px;
    font-weight: 600;
}

.button a {
    position: relative;
    top: 15px;
    left: 70px;
    color: #088178;
}

/* features section */
.features-section {
    padding-block: 80px;
}

.features-section .container {
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 20px;
}

.f-cols {
    text-align: center;
    border: 2px solid #c4eeeba9;
    border-radius: 3px;
    padding-inline: 15px;
    padding-block: 25px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.067);
    gap: 20px;
    transition: all 0.2s ease-in-out;
    flex-wrap: wrap;
}

.f-cols p {
    padding: 10px;
    line-height: 1;
    border-radius: 4px;
    background-color: #fdddef;
    color: #088178;
    font-weight: 600;
}

.f-cols:hover {
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.01);
    transform: scale(0.98);
}

/* featured product section */
.featured-product-section .container {
    align-items: center;
}

.products {
    display: flex;
    width: 100%;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.products h1 {
    font-size: 230%;
}

.product-rows {
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 20px;
}

.p-items img {
    width: 250px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.p-items {
    padding: 10px;
    border: 2px solid #c4cccca9;
    border-radius: 20px;
    gap: 8px;
    box-shadow: 3px 3px 0 #04423e00;
    transition: all 0.2s ease-in-out;
}

.p-items:hover {
    transform: scale(101%);
}

.price {
    margin-top: 5px;
    margin-inline: 5px;
}

.ratings {
    color: rgb(242, 157, 66);
}

.price .fa-cart-plus {
    padding: 10px;
    border-radius: 50px;
    background-color: #c4eeeba9;
    color: #088178;
    transition: all 0.2s ease-in-out;
}

.fa-cart-plus:hover {
    color: #0f4542;
    background-color: #c4eeeba9;
}

.price p {
    color: #088178;
    font-weight: 600;
}

.p-head {
    font-size: 240%;
}

.p-para {
    margin-bottom: 40px;
    padding-top: 5px;
    margin-top: 8px;
    font-size: 160%;
    padding-inline: 5px;
    color: rgb(126, 124, 124);
    font-weight: 600;
    font-family: "Edu NSW ACT Foundation", cursive;
}

.p-para::after {
    content: "s...";
}

.fa-indian-rupee-sign {
    margin-right: 5px;
    position: relative;
    top: 0.5px;
}

.product-name {
    font-weight: 600;
    color: #243534;
}

/* newsletter section */
.newsletter-section {
    background: url("./images/banner/b2.jpg") center;
    background-repeat: no-repeat;
    height: 350px;
    color: white;
    width: 100vw;
    background-color: #060f1e;
    margin-block: 80px;
    background-size: cover;
}

.newsletter-section .container {
    gap: 30px;
    align-items: center;
    padding-block: 0px;
}

.newsletter-section span {
    color: rgb(255, 28, 28);
}

.newsletter-section h1 {
    text-align: center;
}

.newsletter-section {
    font-size: 120%;
}

.p-button {
    display: flex;
    justify-content: center;
    padding: 10px 15px;
    width: 150px;
    border-radius: 4px;
    background-color: white;
    transition: 0.2s ease-in-out;
    color: rgb(0, 0, 0);
}

.p-button:hover {
    background-color: #088178;
    color: white;
}

/* new arivalls */
.new-arival {
    margin-block: 80px;
}

.new-arival .container {
    align-items: center;
}

/* action banner */
.action-rows {
    gap: 40px;
    margin-bottom: 40px;
}

.a-cols {
    flex-grow: 1;
    height: 300px;
    justify-content: center;
    padding-left: 40px;
    gap: 10px;
    color: white;
    background: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#a-col-2 .p-button,
#a-col-1 .p-button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 2px;
    transition: 0.2s ease-in-out;
}

#a-col-2 .p-button:hover,
#a-col-1 .p-button:hover {
    background-color: #088178;
    color: white;
    border: 2px solid transparent;
}

#a-row-2 .a-cols {
    height: 180px;
    flex: 1;
    background-repeat: no-repeat;
    background: cover;
    background-color: #6f535d;
}

#a-row-2 .a-cols p {
    color: #ff146a;
    font-weight: 600;
}

/* newsletter section 2 */
.Newsletter-Section-2 {
    margin-block: 80px;
    background: url(images/banner/b14.png) center;
    background-color: #060f1e;
    background-repeat: no-repeat;
    color: white;
    height: 230px;
}

.Newsletter-Section-2 .container {
    height: 100%;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

.news-col1 {
    gap: 20px;
}

.news-col2 input {
    outline: none;
    height: 45.5px;
    width: 350px;
    border: none;
    padding-left: 15px;
    border-radius: 4px 0px 0px 4px;
    font-size: 105%;
}

.news-col2 .p-button {
    width: 100px;
    padding-block: 13px;
    border-radius: 0px 4px 4px 0px;
    border: none;
    background-color: #088178;
    color: white;
    font-weight: 600;
    display: flex;
}

.news-col2 .p-button:hover {
    background-color: #155f5b;
}

.news-col1 p {
    color: rgb(214, 202, 202);
}

.news-col1 span {
    color: #ff146a;
}

/* footer */
#foot-col-1 {
    gap: 10px;
}

#foot-col-1 img {
    width: 150px;
    margin-bottom: 10px;
}

#foot-col-1 span {
    font-weight: 600;
    font-size: 105%;
    margin-right: 2px;
}

.follow-us {
    margin-top: 20px;
}

.foot-cols h4 {
    margin-bottom: 10px;
}

.footer-row-1 {
    flex-wrap: wrap;
    gap: 20px;
}

.footer-row-2 {
    justify-content: center;
    margin-top: 30px;
    text-align: center;
}

.app-download {
    gap: 10px;
}

.google img,
.apple img {
    height: 50px;
    border: 1px solid #666666;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.google img:hover,
.apple img:hover {
    transform: scale(1.02);
}

#foot-col-4 {
    position: relative;
    top: 20px;
}

#foot-col-1 {
    position: relative;
    bottom: 20px;
}

#foot-col-3 p,
#foot-col-2 p {
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

#foot-col-3 p:hover,
#foot-col-2 p:hover {
    color: #0c5954;
    transform: scale(1.01);
}

.footer-row-2 {
    font-weight: 600;
    margin-block: 30px;
    margin-top: 50px;
}

.footer-section .foot-cols h4 span {
    padding-inline: 3px;
    padding-bottom: 3px;
    border-bottom: 2px solid #000000c5;
}

/* responsive design */

/* for tablate view */

@media all and (max-width: 970px) {
    .features-section .container {
        justify-content: center;
        gap: 20px;
    }

    .hero-section {
        background-position: top 30% right 30%;
    }

    .action-rows .a-cols {
        /* height: 250px; */
        padding-left: 20px;
    }

    #a-row-1 .a-cols {
        height: 250px;
    }

    .a-cols h2 {
        font-size: 150%;
    }

    #a-row-1 .a-cols h1 {
        font-size: 160%;
    }
}

@media all and (max-width: 840px) {
    .newsletter-section h1 {
        font-size: 150%;
        text-align: center;
    }

    .action-rows {
        flex-direction: column;
    }

    .a-cols {
        width: 95%;
        background-position: top;
    }

    #a-row-2 {
        flex-direction: row;
        padding-inline: 19px;
    }

    #a-row-2 .a-cols {
        gap: 20px;
        height: 220px;
        flex: auto;
        background-size: contain;
        background-position: right;
    }

    #a-row-2 #a-col-3 {
        background-color: #939395;
    }

    #a-row-2 #a-col-4 {
        background-color: #bfb7b4;
    }

    #a-row-2 #a-col-5 {
        background-color: #0184bc;
        background-size: cover;
        background-position: top;
    }
}

@media all and (max-width: 800px) {
    .nav-links {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 250px;
        background-color: #f3f6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0px 0px 10px;
        /* display: none; */
    }

    .nav-links li {
        position: relative;
        bottom: 70px;
    }

    .cross {
        position: relative;
        top: -60px;
        padding: 0 10px;
    }

    .cross i {
        font-size: 20px;
    }

    .nav-links li a:hover,
    .nav-links li a.active {
        border-bottom: none rgb(0, 0, 0, 0);
    }

    #menu,
    .cart,
    .cross {
        display: block;
    }

    .cart-logo {
        display: none;
    }

    header {
        padding-block: 10px;
    }

    header img {
        width: 110px;
    }

    .hero-section,
    .hero-content {
        height: 70vh;
    }

    .hero-content {
        position: relative;
        right: 50px;
        scale: 0.8;
    }

    .newsletter-section {
        height: 250px;
    }

    .newsletter-section .p-button {
        scale: 0.9;
    }

    .footer-row-1 {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .footer-row-2 {
        justify-content: flex-start;
    }
}

@media all and (max-width: 735px) {
    #a-row-2 {
        flex-direction: column;
    }

    #a-row-2 .a-cols {
        width: 100%;
    }

    .Newsletter-Section-2 .container {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        gap: 30px;
    }
}

/* for mobile view */

@media all and (max-width: 480px) {
    .hero-section {
        background-position: 50%;
    }

    .container {
        padding-inline: 20px;
    }

    .hero-content {
        left: -40px;
        width: 90%;
        scale: 0.8;
    }

    .hero-content h1,
    .hero-content h2 {
        font-size: 2.5em;
    }

    .f-cols img {
        width: 110px;
    }

    .p-para {
        text-align: center;
    }

    .action-rows .a-cols {
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    #a-row-1 .a-cols {
        height: 200px;
    }

    #a-row-2 .a-cols {
        background-position: center;
        background-size: cover;
        height: 150px;
        width: 105%;
    }

    .action-rows .a-cols {
        padding-left: 0px;
    }

    #f-col-1 img {
        position: relative;
        left: 9px;
    }

    .Newsletter-Section-2 {
        position: relative;
        bottom: 20px;
        height: 270px;
    }

    .Newsletter-Section-2 h1 {
        font-size: 150%;
    }

    .news-col2 input {
        width: 250px;
    }

    .news-col2 form {
        scale: 0.9;
    }

    .app-download {
        flex-wrap: wrap;
    }

    .hero-content h2 {
        margin-top: -10px;
        font-size: 180%;
    }

    .hero-content h1 {
        margin-bottom: -10px;
        font-size: 180%;
    }

    .p-head {
        font-size: 180%;
    }

    .p-para {
        font-size: 110%;
    }
}

/* shop page */

.s-hero-section {
    background: url(/images/banner/b1.jpg);
    color: white;
    height: 300px;
}

.s-hero-section .container {
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.s-hero-section .container h2 {
    font-size: 2.7rem;
}

.s-hero-section .container p {
    font-size: 120%;
    color: rgb(153, 153, 153);
}

#s-featured-product-section {
    margin-block: 80px;
}

#pageination {
    justify-content: center;
    align-items: center;
    color: black;
}

#pageination .container {
    gap: 10px;
}

#pageination a {
    padding: 8px 12px;
    border-radius: 4px;
    background-color: #088178;
}

#pageination a:hover {
    background-color: #0c5954;
}


